#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

*, *:after, *:before { box-sizing: inherit; }

article, aside { position: relative; }

html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  align-items: stretch;
  display: flex;
  height: 100%;
}

main > * {
  flex: 1 0 50%;
}

.active {}

.btn-begin {
  background: cornflowerBlue;
  border-radius: 12px;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 0 auto;
  padding: 2ex 3ex;
  text-align: center;
  transition: 200ms;
}

.btn-begin:hover { background: lightBlue; }

.code { flex: 1 0 50%; }
.content {
  flex: 1 0 50%;
  height: 100%;
  overflow: scroll;
  padding: 0 1em 3em;
}

.koan {
  background: gainsboro;
  border-radius: 3px;
  padding: 1ex;
}

.koan h3 {
  font-size: 1em;
  margin: 0;
  padding: 0.5ex 0;
}

.koan + .koan { margin-top: 1px; }

.results { display: none; }

[class*="test"] {
  background: white;
  padding: 1ex;
}

[class*="test"]:first-of-type {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.test--failing,
[class*="test"]:last-of-type {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

[class*="test"] + [class*="test"] { margin-top: 1px; }

.test--passing { border-left: 5px solid lime; }

.test--failing {
  border-left: 5px solid red;
  display: none;
}
.test--failing:first-of-type,
.test--passing + .test--failing { display: block; }

h1 { font-size: 1.75em; }
h2 { font-size: 1.55em; }
h3 { font-size: 1.35em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1.15em; }
h6 { font-size: 1em; }

.walking-the-path h1 {
  font-size: 1em;
  margin: 1ex 0;
}
.walking-the-path h2 { display: none; }
.walking-the-path .results { display: block; }
